<a href="https://colab.research.google.com/github/dbseh5525/2024-OSS/blob/main/w02_2_control_flow_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
n = 20
if n%2 == 0:
  print('짝수')

짝수

In [5]:
n = 21
if n%2 == 0:
  print('짝수')

In [6]:
age = 18
if age >= 20:
  print('성인')
else:
  print('미성년자')

미성년자

In [7]:
age = 21
if age >= 20:
  print('성인')
else:
  print('미성년자')

성인

In [8]:
age = 18
s = '성인' if age >= 20 else '미성년자'
print(s)

미성년자

In [9]:
age = 20
s = '성인' if age >= 20 else '미성년자'
print(s)

성인

In [10]:
point = 92
if (90 <= point):
    print("A")
elif (80 <= point):
    print("B")
elif (70 <= point):
    print("C")
elif (60 <= point):
    print("D")
else:
    print("F")

A

In [11]:
point = 62
if 90 <= point:
    print("A")
elif 80 <= point:
    print("B")
elif 70 <= point:
    print("C")
elif 60 <= point:
    print("D")
else:
    print("F")

D

In [19]:
value = "apple"
match value:
  case 'apple':
    result = '사과'
  case 'banana':
    result = '바나나'
print(result)

사과

In [21]:
value = "banana"
match value:
  case 'apple':
    result = '사과'
  case 'banana':
    result = '바나나'
print(result)

바나나

In [23]:
for x in range(1, 6):
  print(x)

1
2
3
4
5